__default__:
   N: default
   q: mpi
   h_vmem: 8G
   o: $(pwd)/logs/sauron-%j.out
   e: $(pwd)/logs/sauron-%j.err
   pe: mpi1node
repeatmodeler:
   N: repmod 
   mem: 4G
repeatmasker:
   N: repmas
   mem: 4G
repeatmasker_wrepmod:
   N: repmasmod
   mem: 4G
edta:
   N: edta
   h_vmem: 10G
prepare_assembly:
   N: prepa
